PULUMI_ACCESS_TOKEN=pul-XXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_APPLICATION_CREDENTIALS=gcp-demos-505417-4bb665c2d61d.json
GCP_PROJECT_ID=gcp-demos-505417
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
